/* stylelint-disable docusaurus/copyright-header */

/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 2rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: var(--ifm-color-primary-light);
  color: black;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 1rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.button--outline:hover{
  color: var(--ifm-color-primary-darker);
}

.getStarted{
  background-color: white;
  color: black !important;
  font-weight: 400;
  margin: 5px;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  height: 200px;
  width: 200px;
}

.gallery{
  width: 100%;
  max-width: var(--ifm-container-width);
  display: flex;
  align-items: center;
}

.title_logo {
  height: 1em;
}

.main {
  margin-top: 24px;
}

.galleryImage{
  width: var(--ifm-container-width);
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 966px) {
  .galleryImage{
    max-width: 100%;
  }
}

.floatingNews {
  
  background-color: var(--ifm-navbar-background-color);
  box-shadow: var(--ifm-navbar-shadow);
  text-align: left;
  width: 100%;
  height: 200px;
  /* border: 1px solid gray; */
  padding: 5px;
  overflow-y: scroll;
}
