/* stylelint-disable docusaurus/copyright-header */

/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 2rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: var(--ifm-color-primary-light);
  color: black;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 1rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.button--outline:hover{
  color: var(--ifm-color-primary-darker);
}

.getStarted{
  background-color: white;
  color: black !important;
  font-weight: 400;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  height: 200px;
  width: 200px;
}

.gallery{
  width: 100%;
  max-width: var(--ifm-container-width);
  display: flex;
  align-items: center;
}

.galleryImage{
  width: var(--ifm-container-width);
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 966px) {
  .galleryImage{
    max-width: 100%;
  }
}
