/* stylelint-disable docusaurus/copyright-header */

/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: var(--ifm-color-primary-light);
  color: black;
}

.halfHeader {
  padding-top: 2em !important;
  padding-bottom: 2em !important;
}


@media screen and (max-width: 998px) {
  .halfHeader {
    padding-top: 1em !important;
  padding-bottom: 1em !important;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.button--outline:hover{
  color: var(--ifm-color-primary-darker);
}

.getStarted{
  background-color: white;
  color: black !important;
  font-weight: 400;
  margin: 5px;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  height: 200px;
  width: 200px;
}

.gallery{
  width: 100%;
  max-width: var(--ifm-container-width);
  display: flex;
  align-items: center;
}

.title_logo {
  height: 1em;
}

.main {
  margin-top: 24px;
}

/* floating news */

.floatingNews {
  background-color: var(--ifm-navbar-background-color);
  color: #404040;
  font-size: small;
  text-align: left;
  height:0;
  min-height:100%;
  padding: 2em 1em;
  overflow-y: scroll;
  border-bottom: 1px solid #ddd;
}

@media screen and (max-width: 998px) {
  .floatingNews {
    height: 40%;
    max-height: 60vw;
  }
}

.floatingNews ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.floatingNews li {
  margin-top: 10px;
}

/* carousel */

.galleryImage{
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
  object-fit: contain;
}

.carouselContent {
  width: var(--ifm-container-width);
  height: calc( var(--ifm-container-width) * 0.5 );
  color: #fff;
  line-height: 160px;
  text-align: center;
}

@media only screen and (max-width: 998px) {
  .carouselContent {
    width: 100vw;
    height: 50vw;
  }
}
