/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
/* :root {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-code-font-size: 95%;
} */

:root{
  --ifm-color-primary: #faa433;
  --ifm-color-primary-dark: #FF9F4C;
  --ifm-color-primary-darker: #E18241;
  --ifm-color-primary-darkest: #ae6504;
  --ifm-color-primary-light: #FFE496;
  --ifm-color-primary-lighter: #FFEEA5;
  --ifm-color-primary-lightest: #FFFCD6;
  --ifm-link-color: var(--ifm-color-primary-darker);
  --ifm-code-font-size: 95%;
  --ifm-h2-font-size: 2rem;
}

.navbar-github-link:before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E") no-repeat;
}

/* Code Blocks */
code, .prism-code {
  font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  background-color: #F6F8FA;
  border: none;
  counter-reset: line-number;
}

/* add number line */
.prism-code.language-javascript .token-line::before {
  counter-increment: line-number;
  content: counter(line-number);
  margin-right: calc(var(--ifm-pre-padding) * 1.5);
  text-align: right;
  min-width: 2.5rem;
  display: inline-block;
  opacity: .3;
  position: sticky;
  left: var(--ifm-pre-padding);
}

.comment, 
.doctype, 
.doctype-type {
  font-style: normal !important;
}

.comment {
  color: #6F7781 !important; /* GitHub color */
}

.doctype,
.doctype-type,
.number {
  color: #0450AE !important; /* GitHub color */
}

.tag {
  color: #146229 !important; /* GiHub color */
}

.maybe-class-name {
  color: #146229 !important; /* GitHub color  */
}

.attr-name {
  color: #0450AE !important; /* darker than original */
}

.attr-value {
  color: #0A2F69 !important; /* GiHub color */
}

.dom, .variable {
  color: black !important; /* GitHub color */
}

.method, .function, .property-access {
  color: #8250DF !important; /* GitHub color */
}

.plain, .constant, .string, .operator {
 color: #0A2F69 !important; /* GitHub color */
}

html[data-theme='dark'] {
  --ifm-color-primary: #faa433;
  /* any other colors you wish to overwrite */
}

.docusaurus-highlight-code-line {
  background-color: rgb(222, 227, 241);;
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.docusaurus-highlight-code-line[data-theme='dark']{
  background-color: rgb(72, 77, 91);
}

a {
  font-weight: 600;
}

.gosling-container {
  width:100%;
  border: solid 1px lightgray; 
  border-radius: 5px; 
  margin: 15px 0px; 
  overflow-x: scroll;
}

.navbar {
  margin-bottom: 0px !important;
}

.navbar__logo {
  margin-bottom: 6px !important;
}

.navbar__brand:hover{
  color: var(--ifm-navbar-link-hover-color);
}

.propertyTable {
  display: table;
}

.propertyTable p {
  margin: 0px !important;
}

.propertyTable td.type a {
  /* color: black; */
  font-weight: 400;
}
