/* stylelint-disable docusaurus/copyright-header */

/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

 .heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: var(--ifm-color-primary-light);
  color: black;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.sectionHeader {
  text-align: center;
  margin: 2rem;
  padding: 2rem 0rem 0rem 0rem;
  font-size: 2rem;
  
}

.sectionHeader:not(:first-of-type){
  border-top: 1px solid lightgray;
}


.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.feature {
  text-align: center;
}

.featureImage {
  /* height: 200px; */
  width: 350px;
  object-fit: cover
}
