/* stylelint-disable docusaurus/copyright-header */

/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: var(--ifm-color-primary-light);
  color: black;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.sectionHeader {
  text-align: center;
  margin: 2rem;
  padding: 2rem 0rem 0rem 0rem;
  font-size: 2rem;
}

.sectionHeader:not(:first-of-type){
  border-top: 1px solid lightgray;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.feature {
  text-align: center;
}

.featureImage {
  width: 350px;
  object-fit: contain;
  box-shadow: 0 1px 2px 0 rgb(65 69 73 / 30%), 0 3px 6px 2px rgb(65 69 73 / 15%);
  padding: 5px 10px;
}

.basicExample {
  height: 70px;
}

.galleryExample{
  height: 15vw;
  padding: 10px 8px;
}

.featureImage:hover {
  width: 370px;
}

h3 {
  margin: 0px;
}

.floatingSiderbar{
  position: fixed;
  overflow-y: auto;
  height: 100vh;
  background-color: white;
}

.subgroupli {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.invisibleAnchor{
  display: block;
  position: relative;
  top: -10vh;
  visibility: hidden;
}